---
layout: default
title: About
permalink: /
pin: true
no-header: true
imgur: https://i.imgur.com/kBNj4cM.png
image: https://i.imgur.com/kBNj4cMm.png
description: Maps, news, info, and support for the French Fire in the Kern Valley
pages:
  - name: Fire News
    href: /news/
    icon: news
    description: News, info, and updates on the French Fire
  - name: Fire Map
    href: /map/
    icon: map
    description: Map of the French Fire
  - name: Agency Contacts
    href: /contacts/
    icon: address-book
    description: Contact info for various fire and support agencies
  - name: Lost & Found Pets
    href: /pets/
    icon: pets
    description: Search and report lost and found pets
  - name: Donate
    href: /donate/
    icon: gift
    description: A collection of places to donate for the French Fire
---
<section id="about" class="card shadow home-section">
	<p>The <a href="https://inciweb.nwcg.gov/incident/7813/" rel="noopener noreferrer external">French Fire</a>
		is a wildfire buring in the mountains of the Kern River Valley
between Keyesville, Wofford Heights, and Alta Sierra. It began at around
		<time datetime="2021-08-18T16:30-07:00">4:30 PM on Aug. 18, 2021</time>.
	</p>
	<p>The French Fire has devastated the rural community of the Kern River Valley.
		It has burned over 20,000 acres, destroyed at least 9 homes as well as several
		other structures.</p>
</section>
<section id="site-links" class="grid site-links space-evenly home-section">
	{% for p in page.pages %}
		<a href="{{ p.href }}" class="card shadow site-link color-inherit">
			<h3 class="center">{{ p.name }}</h3>
			<div class="center">
				{% include common/icon.html icon=p.icon width="96" height="96" fill="currentColor" class="link-icon" %}
			</div>
			<blockquote>{{ p.description }}</blockquote>
		</a>
	{% endfor %}
</section>
