---
layout: default
title: News
permalink: /news/
pinned: true
no-header: true
description: The latest news and updates on the French Fire
imgur: https://i.imgur.com/Qb7iL3U.png
image: https://i.imgur.com/Qb7iL3Um.png
tags:
  - french fire
  - news
  - alta sierra
  - wofford heights
  - kern valley
  - kern river valley
  - fire
---
<section class="pagination">
	<div class="grid grid-gallery">
		{% for post in paginator.posts %}
			<div class="article-preview card shadow-dark">
				{% include articles/post-preview.html post=post %}
			</div>
		{% endfor %}
	</div>
	{% if paginator.previous_page or paginator.next_page %}
		<footer class="paginate-nav">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" rel="prev" role="button" title="Previous page">
					{% include common/icon.html icon='prev' %}
				</a>
			{% endif %}
			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" role="button" rel="next" title="Next page">
					{% include common/icon.html icon='next' %}
				</a>
			{% endif %}
		</footer>
	{% endif %}
</section>
<br />
<section class="card shadow">
	<p>To submit news or important notifications, please fill out the <a href="https://contact.kernvalley.us/?subject=French%20Fire%20news%submission" rel="noppener noreferrer external">
		{% include common/icon.html icon="link-external" height="16" width="16" fill="currentColor" %}
		<span>Contact Form</span></a>
</section>
