---
layout: default
title: News
permalink: /news/
pinned: true
no-header: true
description: The latest news and updates on the French Fire
tags:
  - french fire
  - news
  - alta sierra
  - wofford heights
  - kern valley
  - kern river valley
  - fire
---
<section class="pagination">
	<div class="grid grid-gallery">
		{% for post in paginator.posts %}
			<div class="article-preview card shadow-dark">
				{% include articles/post-preview.html post=post %}
			</div>
		{% endfor %}
	</div>
	{% if paginator.previous_page or paginator.next_page %}
		<footer class="paginate-nav">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" rel="prev" role="button" title="Previous page">
					{% include common/icon.html icon='prev' %}
				</a>
			{% endif %}
			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" role="button" rel="next" title="Next page">
					{% include common/icon.html icon='next' %}
				</a>
			{% endif %}
		</footer>
	{% endif %}
</section>
