<aside id="sidebar">
	{% assign latest = site.posts | find: "type", "update" %}
	{% if latest %}{% include fire-stats.html latest=latest %}{% endif %}
	{% if site.data.weather %}
		<weather-current class="card block" appid="{{ site.data.weather.appid }}" postalcode="{{ site.data.weather.postalCode }}" theme="{{ site.data.weather.theme }}"></weather-current>
	{% endif %}
	{% if include.pinned-posts %}{% include articles/pinned-posts.html count=layout.pinned-posts %}{% endif %}
	{% if page.ads %}{% for ad in page.ads %}
		{% include common/ad.html ad=ad content="sidebar" %}
	{% endfor %}{% endif %}
	{% comment %}
	{% for ad in site.data.ads.sidebar %}
		{% include common/ad.html ad=ad content="sidebar" %}
	{% endfor %}
	{% endcomment %}
	{% if include.recent-posts %}{% include articles/recent-posts.html count=layout.recent-posts %}{% endif %}
</aside>
