<aside id="sidebar">
	{% assign latest = site.posts | find: "type", "update" %}
	{% if latest %}
		<div class="card">
			<h3><a href="{{ latest.url }}" class="block link-color underline">
					{% include common/icon.html icon="link" height="18" width="18" fill="currentColor" %}
					<span>Fire Stats</span>
				</a></h3>
			<ul>
				<li>
					<b>Acres Burned:</b>
					<span>{{ latest.acres }}</span>
				</li>
				<li>
					<b>Containment:</b>
					<span>{{ latest.containment }}%</span>
				</li>
				<li>
					<b>Personel:</b>
					<span>{{ latest.personel }}</span>
				</li>
				<li>
					<b>Estimated Containment:</b>
					<time datetime="{{ latest.estimated_containment | date: date_to_xmlschema }}">{{ latest.estimated_containment | date: "%b. %e" }}</time>
				</li>
			</ul>
			<div>
				<b>Last Updated</b>
				<time datetime="{{ latest.date | date: date_to_xmlschema }}">{{ latest.date | date: "%a, %b. %e at %r" }}</time>
			</div>
		</div>
	{% endif %}
	{% if site.data.weather %}
		<weather-current class="card block" appid="{{ site.data.weather.appid }}" postalcode="{{ site.data.weather.postalCode }}" theme="{{ site.data.weather.theme }}"></weather-current>
	{% endif %}
	{% if include.pinned-posts %}{% include articles/pinned-posts.html count=layout.pinned-posts %}{% endif %}
	{% if page.ads %}{% for ad in page.ads %}
		{% include common/ad.html ad=ad content="sidebar" %}
	{% endfor %}{% endif %}
	{% comment %}
	{% for ad in site.data.ads.sidebar %}
		{% include common/ad.html ad=ad content="sidebar" %}
	{% endfor %}
	{% endcomment %}
	{% if include.recent-posts %}{% include articles/recent-posts.html count=layout.recent-posts %}{% endif %}
</aside>
